@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: #71717a;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.hover\:transform {
  transition: transform 0.3s ease;
}

.hover\:scale-110 {
  transition: transform 0.3s ease;
}

   .responsiveContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
   margin-bottom: 20px;
   }

@media (min-width: 375px) {
.responsiveContainer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

  .responsiveSelect {
    width: auto;
  }
}
@media (min-width: 360px) {
  .mobilResponsive {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}



@media (max-width: 440px) {
  .mobilResponsive2 {
    font-size: small;
    border-bottom: 0;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 440px) {
  .mobilResponsive3 {
   margin-top: 90px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
  }
}